body{
    font-family:"PT Sans", "Myriad Pro";
    -webkit-font-smoothing:antialiased;
    margin:0;
}
#wrapper{
    margin:0 auto 0 10%;
    max-width:640px;
    padding:40px 20px 40px 0;
}

h1{
    font-size:3em;
    margin-bottom:0em;
    line-height:1.1em;
}

h2{
    font-weight:normal;
    margin-top:0.2em;
    font-size:1.2em;
}

a{
    color:#333;
    transition: 0.2s color;
}

h2 a:hover{
     color:#1074D3;
}

.projects{
    margin-top:60px;
    border-top:2px solid #eee;
}

.background{
    position:fixed;
    top:0;
    z-index:-2;
}

.project{
    margin:30px 0 0;
    border-bottom:1px solid #eee;
    padding-bottom:30px;
    display:inline-block;
    width:100%;
}

.project{
    text-decoration:none;  

}

.project p.title{
    color:#333;
     margin:0;
     transition:color 0.2s;
     display:inline-block;
}

.project:hover{
    /*border-bottom:1px solid #1074D3;*/
}

.project:hover p.title{
    color:#1074D3;
}

.project:hover p.description{
    color:#555;
}

.project p.description{
    margin:0.5em 0 0;
    color:#333;
   transition:color 0.2s;
}

.project h2{
    font-weight:bold;
    margin:0;
    line-height:1.2em;
}

.project .guardian{
    font-size:14px;
    font-weight:normal;
    color:#aaa;
    line-height:1em;
    display:block;
}

@media (min-width:480px){
    h1{
    font-size:4em;
    }

    h2{
        font-size:1.5em;
    }
}

@media (min-width:640px){
    #wrapper{
    margin:0 auto 0 15%;
}
    }